---
http_interactions:
- request:
    method: get
    uri: https://api-rnm.artisanat.fr/api/Entreprise/833057201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ID":null,"NOM":null,"SIREN":null,"ADRESSE":null,"COMPLEMENT":null,"CP":null,"COMMUNE":null,"NAR20":null,"DEPT":null,"GEST_LIBELLE_CODE_NAFA":null,"ENT_ACT_DATE_IMMAT_RM":null,"ENT_ACT_DATE_RADIATION":null,"ENT_ACT_FORME_JURIDIQUE":null,"DIR_QA_QUALIFICATION":null}'
  recorded_at: Fri, 05 Oct 2018 10:33:18 GMT
recorded_with: VCR 4.0.0
