---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"ab380ad7-5725-33d6-9d57-18a40e209021","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":603438}'
  recorded_at: Wed, 23 Oct 2019 12:53:48 GMT
recorded_with: VCR 4.0.0
