---
http_interactions:
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/nonDiffusibles?curseur=*&nombre=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 704cdf1d-c36c-3567-ad71-15627e66f776
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '703776'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/nonDiffusibles?nombre=20&curseur=*>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren/nonDiffusibles?nombre=20&curseur=AoIpMDU3MTAyMTA1KTA1NzEwMjEwNQ==>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":703776,"debut":0,"nombre":20,"curseur":"*","curseurSuivant":"AoIpMDU3MTAyMTA1KTA1NzEwMjEwNQ=="},"unitesLegalesNonDiffusibles":[{"siren":"005572466","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":null},{"siren":"005775556","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2016-11-30T14:31:01"},{"siren":"005900113","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":null},{"siren":"006001218","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":null},{"siren":"006001713","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":null},{"siren":"006972590","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2018-06[...]
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic realm=null
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error_description":"Error decoding authorization header. Space delimited
        \"<authMethod> <base64Hash>\" format violated.","error":"invalid_client"}'
  recorded_at: Mon, 10 Feb 2020 14:12:46 GMT
recorded_with: VCR 4.0.0
