---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"18097024-d91e-3b35-bdba-abcdc50c07f4","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":601215}'
  recorded_at: Wed, 11 Dec 2019 11:14:43 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=*&nombre=1000&q=dateDernierTraitementUniteLegale:%5B2020-01-01T00:00:00%20TO%202019-12-04T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 400
      message: ''
    headers:
      X-Cnection:
      - Close
      - close
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":400,"message":"Erreur de syntaxe, ordre incorrect
        dans l''intervalle : 2020 TO 2019-12-04T00:00:00"}}'
  recorded_at: Wed, 11 Dec 2019 11:14:43 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=*&nombre=1000&q=dateDernierTraitementUniteLegale:%5B2020-01-01T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 400
      message: ''
    headers:
      X-Cnection:
      - Close
      - close
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":400,"message":"Erreur de syntaxe, ordre incorrect
        dans l''intervalle : 2020 TO 2019-12-09T00:00:00"}}'
  recorded_at: Wed, 11 Dec 2019 12:36:19 GMT
recorded_with: VCR 4.0.0
