---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"18097024-d91e-3b35-bdba-abcdc50c07f4","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":596563}'
  recorded_at: Wed, 11 Dec 2019 12:32:15 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=*&nombre=20&q=dateDernierTraitementUniteLegale:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '60'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=20&curseur=*&q=dateDernierTraitementUniteLegale%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=20&curseur=AoEpNTEwNjk0MjI3&q=dateDernierTraitementUniteLegale%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":60,"debut":0,"nombre":20,"curseur":"*","curseurSuivant":"AoEpNTEwNjk0MjI3"},"unitesLegales":[{"siren":"194300398","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1965-05-01","sigleUniteLegale":"LP","sexeUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":"22","anneeEffectifsUniteLegale":"2017","dateDernierTraitementUniteLegale":"2019-12-08T18:01:26","nombrePeriodesUniteLegale":6,"categorieEntreprise":"PME","anneeCategorieEntreprise":"2017","periodesUniteLegale":[{"dateFin":null,"dateDebut":"2019-12-08","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"LYCEE
        POLYVALENT EMMANUEL CHABRIER","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"7331","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"85.31Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00014","changementNicSiegeUniteLegale":false,"economieSocialeSolidaireUniteLegale":"N","changementEconomieSocialeSolidaireUniteLegale":false,"caractereEmployeurUniteLegale":"O","changementCaractereEmployeurUniteLegale":true},{"dateFin":"2019-12-07","dateDebut":"2018-09-01","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"LYCEE
        POLYVALENT EMMANUEL CHABRIER","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDe[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=AoEpNTEwNjk0MjI3&nombre=20&q=dateDernierTraitementUniteLegale:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '60'
      Link:
      - <https://api.insee.fr/entrep[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=AoEpODQ3OTkyMzY5&nombre=20&q=dateDernierTraitementUniteLegale:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '60'
      Link:
      - <https://api.insee.fr/entrep[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=AoEpODc5MDc1NjM4&nombre=20&q=dateDernierTraitementUniteLegale:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '60'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=20&curseur=*&q=dateDernierTraitementUniteLegale%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="first"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":60,"debut":0,"nombre":0,"curseur":"AoEpODc5MDc1NjM4","curseurSuivant":"AoEpODc5MDc1NjM4"},"unitesLegales":[]}'
  recorded_at: Wed, 11 Dec 2019 12:32:17 GMT
[...]
