---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"18097024-d91e-3b35-bdba-abcdc50c07f4","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":510683}'
  recorded_at: Sun, 01 Dec 2019 18:00:00 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=*&nombre=1000&q=dateDernierTraitementUniteLegale:%5B2019-12-01T00:00:00%20TO%202019-12-01T20:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '10'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=1000&curseur=*&q=dateDernierTraitementUniteLegale%3A%5B2019-12-01T00%3A00%3A00+TO+2019-12-01T20%3A00%3A00%5D>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=1000&curseur=AoEpODc4MDkzODcx&q=dateDernierTraitementUniteLegale%3A%5B2019-12-01T00%3A00%3A00+TO+2019-12-01T20%3A00%3A00%5D>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":10,"debut":0,"nombre":10,"curseur":"*","curseurSuivant":"AoEpODc4MDkzODcx"},"unitesLegales":[{"siren":"212000244","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"1983-03-01","sigleUniteLegale":null,"sexeUniteLegale":null,"prenom1UniteLegale":null,"prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":null,"pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":"01","anneeEffectifsUniteLegale":"2017","dateDernierTraitementUniteLegale":"2019-12-01T18:01:33","nombrePeriodesUniteLegale":6,"categorieEntreprise":"PME","anneeCategorieEntreprise":"2017","periodesUniteLegale":[{"dateFin":null,"dateDebut":"2008-01-01","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"COMMUNE
        D AULLENE","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"7210","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"84.11Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","changementActivitePrincipaleUniteLegale":true,"nicSiegeUniteLegale":"00013","changementNicSiegeUniteLegale":false,"economieSocialeSolidaireUniteLegale":null,"changementEconomieSocialeSolidaireUniteLegale":false,"caractereEmployeurUniteLegale":"O","changementCaractereEmployeurUniteLegale":false},{"dateFin":"2007-12-31","dateDebut":"1996-12-25","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":null,"changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":"COMMUNE
        D AULLENE","changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuell[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=AoEpODc4MDkzODcx&nombre=1000&q=dateDernierTraitementUniteLegale:%5B2019-12-01T00:00:00%20TO%202019-12-01T20:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '10'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=1000&curseur=*&q=dateDernierTraitementUniteLegale%3A%5B2019-12-01T00%3A00%3A00+TO+2019-12-01T20%3A00%3A00%5D>;
        rel="first"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":10,"debut":0,"nombre":0,"curseur":"AoEpODc4MDkzODcx","curseurSuivant":"AoEpODc4MDkzODcx"},"unitesLegales":[]}'
  recorded_at: Sun, 01 Dec 2019 18:00:00 GMT
recorded_with: VCR 4.0.0
