---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"b6e7cd3d-616a-30eb-8b5f-6676386baae7","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":262492}'
  recorded_at: Thu, 30 Jan 2020 13:25:40 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=*&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/nonDiffusibles?nombre=20&curseur=*&q=dateDernierTraitementEtablissement%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret/nonDiffusibles?nombre=20&curseur=AoIuODMzNzgzNzk4MDAwMTQuODMzNzgzNzk4MDAwMTQ=&q=dateDernierTraitementEtablissement%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":131,"debut":0,"nombre":20,"curseur":"*","curseurSuivant":"AoIuODMzNzgzNzk4MDAwMTQuODMzNzgzNzk4MDAwMTQ="},"etablissementsNonDiffusibles":[{"siren":"344459326","nic":"00031","siret":"34445932600031","statutDiffusionEtablissement":"N","dateDernierTraitementEtablissement":"2019-12-08T18:00:28"},{"siren":"378839120","nic":"00011","siret":"37883912000011","statutDiffusionEtablissement":"N","dateDernierTraitementEtablissement":"2019-12-08T20:00:21"},{"siren":"378839120","nic":"00029","siret":"37883912000029","statutDiffusionEtablissement":"N","dateDernierTraitementEtablissement":"2019-12-08T20:00:21"},{"siren":"378839120","nic":"00037","siret":"37883912000037","statutDiffusionEtablissement":"N","dateDernierTraitementEtablissement":"2019-12-08T20:00:21"},{"siren":"39[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODMzNzgzNzk4MDAwMTQuODMzNzgzNzk4MDAwMTQ=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
   [...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODc4MDQ4ODgzMDAwMTAuODc4MDQ4ODgzMDAwMTA=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
   [...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODc4NDU0Nzc2MDAwMTMuODc4NDU0Nzc2MDAwMTM=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
   [...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODc4OTExMjk2MDAwMTkuODc4OTExMjk2MDAwMTk=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
   [...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODc5MDA5MjU2MDAwMTQuODc5MDA5MjU2MDAwMTQ=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
   [...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODc5MDc0MzkxMDAwMTkuODc5MDc0MzkxMDAwMTk=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
   [...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/nonDiffusibles?curseur=AoIuODc5MTMyMTQwMDAwMTAuODc5MTMyMTQwMDAwMTA=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '131'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/nonDiffusibles?nombre=20&curseur=*&q=dateDernierTraitementEtablissement%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="first"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":131,"debut":0,"nombre":0,"curseur":"AoIuODc5MTMyMTQwMDAwMTAuODc5MTMyMTQwMDAwMTA=","curseurSuivant":"AoIuODc5MTMyMTQwMDAwMTAuODc5MTMyMTQwMDAwMTA="},"etablissementsNonDiffusibles":[]}'
  recorded_at: Thu, 30 Jan 2020 13:25:43 GMT
recorded_with: VCR 4.0.0
