---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"b6e7cd3d-616a-30eb-8b5f-6676386baae7","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":359786}'
  recorded_at: Wed, 29 Jan 2020 10:24:05 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/nonDiffusibles?curseur=*&nombre=20&q=dateDernierTraitementUniteLegale:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '12'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/nonDiffusibles?nombre=20&curseur=*&q=dateDernierTraitementUniteLegale%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren/nonDiffusibles?nombre=20&curseur=AoIpODc5MDc1NjM4KTg3OTA3NTYzOA==&q=dateDernierTraitementUniteLegale%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":12,"debut":0,"nombre":12,"curseur":"*","curseurSuivant":"AoIpODc5MDc1NjM4KTg3OTA3NTYzOA=="},"unitesLegalesNonDiffusibles":[{"siren":"378839120","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:21"},{"siren":"397495193","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T18:01:17"},{"siren":"510694227","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:21"},{"siren":"830207858","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:19"},{"siren":"831592175","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:18"},{"siren":"833783798","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T18:01:47"},{"siren":"834266736","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T18:01:40"},{"siren":"851771691","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:17"},{"siren":"852886076","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:21"},{"siren":"878134402","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:20"},{"siren":"878299346","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:18"},{"siren":"879075638","statutDiffusionUniteLegale":"N","dateDernierTraitementUniteLegale":"2019-12-08T20:00:20"}]}'
  recorded_at: Wed, 29 Jan 2020 10:24:06 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/nonDiffusibles?curseur=AoIpODc5MDc1NjM4KTg3OTA3NTYzOA==&nombre=20&q=dateDernierTraitementUniteLegale:%5B2019-12-08T00:00:00%20TO%202019-12-09T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b6e7cd3d-616a-30eb-8b5f-6676386baae7
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '12'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/nonDiffusibles?nombre=20&curseur=*&q=dateDernierTraitementUniteLegale%3A%5B2019-12-08T00%3A00%3A00+TO+2019-12-09T00%3A00%3A00%5D>;
        rel="first"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":12,"debut":0,"nombre":0,"curseur":"AoIpODc5MDc1NjM4KTg3OTA3NTYzOA==","curseurSuivant":"AoIpODc5MDc1NjM4KTg3OTA3NTYzOA=="},"unitesLegalesNonDiffusibles":[]}'
  recorded_at: Wed, 29 Jan 2020 10:24:07 GMT
recorded_with: VCR 4.0.0
