---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"18097024-d91e-3b35-bdba-abcdc50c07f4","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":596567}'
  recorded_at: Wed, 11 Dec 2019 12:32:11 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/?curseur=*&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-11-30T00:00:00%20TO%202019-12-01T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '49'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/?nombre=20&curseur=*&q=dateDernierTraitementEtablissement%3A%5B2019-11-30T00%3A00%3A00+TO+2019-12-01T00%3A00%3A00%5D>;
        rel="first"
      - <https://api.insee.fr/entreprises/sirene/siret/?nombre=20&curseur=AoEuODM4NTA2NzIzMDAwMTc=&q=dateDernierTraitementEtablissement%3A%5B2019-11-30T00%3A00%3A00+TO+2019-12-01T00%3A00%3A00%5D>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":49,"debut":0,"nombre":20,"curseur":"*","curseurSuivant":"AoEuODM4NTA2NzIzMDAwMTc="},"etablissements":[{"siren":"420820078","nic":"00012","siret":"42082007800012","statutDiffusionEtablissement":"N","dateCreationEtablissement":"1998-11-16","trancheEffectifsEtablissement":"NN","anneeEffectifsEtablissement":null,"activitePrincipaleRegistreMetiersEtablissement":null,"dateDernierTraitementEtablissement":"2019-11-30T20:00:16","etablissementSiege":false,"nombrePeriodesEtablissement":5,"uniteLegale":{"etatAdministratifUniteLegale":"A","statutDiffusionUniteLegale":"N","dateCreationUniteLegale":"1998-11-16","categorieJuridiqueUniteLegale":"1000","denominationUniteLegale":null,"sigleUniteLegale":null,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"sexeUniteLegale":"M","nomUniteLegale":"DANEY","nomUsageUniteLegale":null,"prenom1UniteLegale":"GILLES","prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"GILLES","pseudonymeUniteLegale":null,"activitePrincipaleUniteLegale":"32.20Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","identifiantAssociationUniteLegale":null,"economieSocialeSolidaireUniteLegale":null,"caractereEmployeurUniteLegale":"N","trancheEffectifsUniteLegale":"NN","anneeEffectifsUniteLegale":null,"nicSiegeUniteLegale":"00038","dateDernierTraitementUniteLegale":"2019-11-30T20:00:17","categorieEntreprise":null,"anneeCategorieEntreprise":null},"adresseEtablissement":{"complementAdresseEtablissement":null,"numeroVoieEtablissement":"28","indiceRepetitionEtablissement":null,"typeVoieEtablissement":null,"libelleVoieEtablissement":"BOURG
        SUD","codePostalEtablissement":"33490","libelleCommuneEtablissement":"SAINT-ANDRE-DU-BOIS","libelleCommuneEtrangerEtablissement":null,"distributionSpecialeEtablissement":null,"codeCommuneEtablissement":"33367","codeCedexEtablissement":null,"libelleCedexEtablissement":null,"codePaysEtrangerEtablissement":null,"libellePaysEtrangerEtablissement":null},"adresse2Etablissement":{"complementAdresse2Etablissement":null,"numeroVoie2Etablissement":null,"indiceRepetition2Etablissement":null,"typeVoie2Etablissement":null,"libelleVoie2Etablissement":null,"codePostal2Etablissement":null,"libelleCommune2Etablissement":null,"libelleCommuneEtranger2Etablissement":null,"distributionSpeciale2Etablissement":null,"codeCommune2Etablissement":null,"codeCedex2Etablissement":null,"libelleCedex2Etablissement":null,"codePaysEtranger2Etablissement":null,"libellePaysEtranger2Etablissement":null},"periodesEtablissement":[{"dateFin":null,"dateDebut":"2008-01-11","etatAdministratifEtablissement":"F","changementEtatAdministratifEtablissement":true,"enseigne1Etablissement":null,"enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"70.10Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablissement":false,"caractereEmployeurEtablissement":"N","changementCaractereEmployeurEtablissement":false},{"dateFin":"2008-01-10","dateDebut":"2008-01-01","etatAdministratifEtablissement":"A","changementEtatAdministratifEtablissement":false,"enseigne1Etablissement":null,"enseigne2Etablissement":null,"enseigne3Etablissement":null,"changementEnseigneEtablissement":false,"denominationUsuelleEtablissement":null,"changementDenominationUsuelleEtablissement":false,"activitePrincipaleEtablissement":"70.10Z","nomenclatureActivitePrincipaleEtablissement":"NAFRev2","changementActivitePrincipaleEtablisse[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/?curseur=AoEuODM4NTA2NzIzMDAwMTc=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-11-30T00:00:00%20TO%202019-12-01T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '49'
      Link:
      - <https://api.insee[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/?curseur=AoEuODUyMTIxNDkwMDAwMTk=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-11-30T00:00:00%20TO%202019-12-01T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '49'
      Link:
      - <https://api.insee[...]
[...]
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siret/?curseur=AoEuODc5MTc4NTQ5MDAwMTc=&nombre=20&q=dateDernierTraitementEtablissement:%5B2019-11-30T00:00:00%20TO%202019-12-01T00:00:00%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 18097024-d91e-3b35-bdba-abcdc50c07f4
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '49'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siret/?nombre=20&curseur=*&q=dateDernierTraitementEtablissement%3A%5B2019-11-30T00%3A00%3A00+TO+2019-12-01T00%3A00%3A00%5D>;
        rel="first"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":49,"debut":0,"nombre":0,"curseur":"AoEuODc5MTc4NTQ5MDAwMTc=","curseurSuivant":"AoEuODc5MTc4NTQ5MDAwMTc="},"etablissements":[]}'
  recorded_at: Wed, 11 Dec 2019 12:32:14 GMT
[...]
