---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"704cdf1d-c36c-3567-ad71-15627e66f776","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":333107}'
  recorded_at: Sun, 09 Feb 2020 12:16:40 GMT
- request:
    method: get
    uri: https://api.insee.fr/entreprises/sirene/V3/siren/?curseur=*&nombre=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 704cdf1d-c36c-3567-ad71-15627e66f776
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Total-Count:
      - '21725732'
      Link:
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=20&curseur=*>; rel="first"
      - <https://api.insee.fr/entreprises/sirene/siren/?nombre=20&curseur=AoEpMDA1NDEwNzU4>;
        rel="next"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"header":{"statut":200,"message":"OK","total":21725732,"debut":0,"nombre":20,"curseur":"*","curseurSuivant":"AoEpMDA1NDEwNzU4"},"unitesLegales":[{"siren":"000325175","statutDiffusionUniteLegale":"O","dateCreationUniteLegale":"2000-09-26","sigleUniteLegale":null,"sexeUniteLegale":"M","prenom1UniteLegale":"THIERRY","prenom2UniteLegale":null,"prenom3UniteLegale":null,"prenom4UniteLegale":null,"prenomUsuelUniteLegale":"THIERRY","pseudonymeUniteLegale":null,"identifiantAssociationUniteLegale":null,"trancheEffectifsUniteLegale":null,"anneeEffectifsUniteLegale":null,"dateDernierTraitementUniteLegale":"2019-12-13T13:21:28","nombrePeriodesUniteLegale":6,"categorieEntreprise":"PME","anneeCategorieEntreprise":"2017","periodesUniteLegale":[{"dateFin":null,"dateDebut":"2018-02-07","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":"JANOYER","changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":null,"changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":false,"categorieJuridiqueUniteLegale":"1000","changementCategorieJuridiqueUniteLegale":false,"activitePrincipaleUniteLegale":"32.12Z","nomenclatureActivitePrincipaleUniteLegale":"NAFRev2","changementActivitePrincipaleUniteLegale":false,"nicSiegeUniteLegale":"00065","changementNicSiegeUniteLegale":true,"economieSocialeSolidaireUniteLegale":null,"changementEconomieSocialeSolidaireUniteLegale":false,"caractereEmployeurUniteLegale":"N","changementCaractereEmployeurUniteLegale":false},{"dateFin":"2018-02-06","dateDebut":"2014-01-07","etatAdministratifUniteLegale":"A","changementEtatAdministratifUniteLegale":false,"nomUniteLegale":"JANOYER","changementNomUniteLegale":false,"nomUsageUniteLegale":null,"changementNomUsageUniteLegale":false,"denominationUniteLegale":null,"changementDenominationUniteLegale":false,"denominationUsuelle1UniteLegale":null,"denominationUsuelle2UniteLegale":null,"denominationUsuelle3UniteLegale":null,"changementDenominationUsuelleUniteLegale":fals[...]
